@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@800&display=swap');

.Title-about {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 55px;
}

.About {
    /* background-color: rgb(187, 236, 217); */
    background: linear-gradient(to right, #2193b0, #6dd5ed)
}

.About-content {
    font-size: 23px;
    margin: 20px;
    display: flex;
    height: 500px;
}

.About-desc {
    flex: 5;
    padding: 10px;
    display: flex;
    align-items: center;
}

.About-photo {
    flex: 5;
    background-image: url('/src/components/images/thisImage.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
    .About-content {
        flex-direction: column-reverse;
        height: 800px;
    }

    .About-photo {
        background-size: contain;
        background-position: center;
    }
}
