.intro {
    margin: 0 auto;
    font-size: 24px;
    width: 85%;
    text-align: center;
    margin-top: 50px;
}

.intro-intro {
    font-weight: bolder;
}

.typewriter-text {
    font-family: Arial;
    color: cadetblue;
    font-weight: bolder;
    font-size: 40px;
}

.typewriter-cursor {
    font-family: Arial;
    color: cadetblue;
    font-weight: bolder;
    font-size: 40px;
}